<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <title th:text="${title}">Default Title</title>

    <!-- Custom styles for this template   Bootstrap core CSS -->
    <link href="../static/css/signInForm.css" rel="stylesheet"/>
    <link href="../static/css/styles.css" rel="stylesheet"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<head th:replace="fragments :: head"></head>

<div th:replace="fragments :: navigation"></div>
<body class="text-center">
    <div class="login-form">
    <h1 class="h3 mb-3 font-weight-normal" th:text="${title}">Default Title</h1>

<form style="max-width:600px;" class="form-signin" method="post" th:action="@{/fit4life/login}" th:object="${loginForm}">
    <img class="mb-4" src="../images/bootstrap-solid.svg" alt="" width="72" height="72" th:src="@{images/bootstrap-solid.svg}"/>
    <div class="form-group">
    <label th:for="email" class="sr-only">Email address</label>
    <input type="email" th:field="*{email}" class="form-control" placeholder="Email address" required="" autofocus=""/>
    <span th:errors="*{email}" class="error"></span>
    </div>


    <label th:for="password" class="sr-only">Password</label>
    <input type="password" th:field="*{password}" class="form-control" placeholder="Password" required=""/>
    <span th:errors="*{password}" class="error"></span>

    <div class="checkbox mb-3">
        <label >
            <input type="checkbox" value="remember-me"/> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">©2019</p>
</form>
    </div>
</body></html>