<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" media="all" href="../static/css/prof.css" th:href="@{/css/prof.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/w3.css" th:href="@{/css/w3.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/w3-theme-blue-grey.css" th:href="@{/css/w3-theme-blue-grey.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>

    <style>
html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
</style>
</head>
<body class="w3-theme-l5">

<head th:replace="fragments :: head"></head>

<div th:replace="fragments :: navigation"></div>

<!--<h1 th:text="${user.profilePosts}">Default Title</h1>-->


<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m3">
            <!-- ProfilePost -->
            <div class="w3-card w3-round w3-white">
                <div th:object="${user}" class="w3-container">
                    <h1 class="w3-center">My Profile</h1>
<!--                    TODO #4 Implement User's Image -->
                    <img class="mb-4" src="../images/bootstrap-solid.svg" alt="" width="72" height="72" th:src="@{images/bootstrap-solid.svg}"/>

                    <h4 th:text="${user.firstName}+' '+${user.lastName}">Default Title</h4>

                    <br>

                </div>
            </div>
            <br>

            <!-- End Left Column -->
        </div>

        <!-- Middle Column -->
        <div class="w3-col m7">

<!--            From loop over below code-->
            <div class="w3-row-padding">
                <div class="w3-col m12">
                    <div class="w3-card w3-round w3-white">
                        <div class="w3-container w3-padding">
                            <span class="w3-right w3-opacity"></span>

                            <h4 th:text="'Welcome '+ ${user.firstName}+'!'">Default Title</h4>

                            <h6 class="w3-opacity">Do you want to update your progress?</h6>
                            <form method="post" th:action="@{/fit4life/profile/} + ${user.email}" th:object="${profilePost}">
                                <div class="form-group col-md-6">
                                    <input th:field="*{weight}" class="form-control" placeholder="weight in lbs"/>
<!--                                    Hidden input taking user email-->
                                    <input type="hidden" name="userEmail" th:value="${user.email}"/>
                                    <input th:field="*{armInches}" class="form-control" placeholder="Bicep inches"/>
                                    <input th:field="*{waistInches}" class="form-control" placeholder="waist inches"/>
                                    <input th:field="*{chestInches}" class="form-control" placeholder="chest inches"/>
                                    <input th:field="*{thighInches}" class="form-control" placeholder="thigh inches"/>
                                    <input th:field="*{goal}" class="form-control" placeholder="goals"/>

                                </div>
<!--                                TODO #2 Add an input loop for the Fitness test with push ups sit ups and cardio-->

                                <button class="w3-button w3-theme" type="submit"><i class="fa fa-pencil"></i> Post</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div th:each="profilePost : ${user.profilePosts}">
            <div class="w3-container w3-card w3-white w3-round w3-margin" ><br>
                <span class="w3-right w3-opacity" th:text="${profilePost.date}">Date</span>
                <h4>Progress Update</h4><br>
                <p th:text="'Weight: '+${profilePost.weight}"></p>
                <p th:text="'Goal: '+${profilePost.goal}"></p>
                <p th:text="'Biceps: '+${profilePost.armInches}"></p>
                <p th:text="'Thighs: '+${profilePost.thighInches}"></p>
                <p th:text="'Waist: '+${profilePost.waistInches}"></p>

                <hr class="w3-clear">

<!--                TODO #1 Add a functionality for client to make comments using the comment button-->

                <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i> &nbsp;Comment</button>
            </div>
            </div>




            <!-- End Middle Column -->
        </div>


        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>
<br>

</body>
</html>