<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" media="all" href="../static/css/prof.css" th:href="@{/css/prof.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/w3.css" th:href="@{/css/w3.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/w3-theme-blue-grey.css" th:href="@{/css/w3-theme-blue-grey.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>

    <style>
html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
</style>
</head>
<body class="w3-theme-l5">
<div th:replace="fragments :: navigation"></div>


<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m3">
            <!-- ProfilePost -->
            <div class="w3-card w3-round w3-white">
                <div th:object="${user}" class="w3-container">
                    <h4 class="w3-center">My Profile</h4>

                <h1 th:text="${user.firstName}+' '+${user.lastName}">Default Title</h1>

                <!--                <table class="table">-->

<!--                    <tr>-->
<!--                        <th>Name</th>-->
<!--                        <th>Email</th>-->

<!--                    </tr>-->
<!--                   <p> th:text="${title}">Default Title</p>-->
<!--&lt;!&ndash;                    <tr th:each="user : ${users}">&ndash;&gt;-->
                        <td th:object="${user.firstName}"></td>
<!--&lt;!&ndash;                        <td th:text="${user.email}"></td>&ndash;&gt;-->
<!--                    </tr>-->

<!--                </table>-->
                    <br>

                </div>
            </div>
            <br>

            <!-- End Left Column -->
        </div>

        <!-- Middle Column -->
        <div class="w3-col m7">

<!--            From loop over below code-->
            <div class="w3-row-padding">
                <div class="w3-col m12">
                    <div class="w3-card w3-round w3-white">
                        <div class="w3-container w3-padding">
                            <h6 class="w3-opacity">Social Media template by w3.css</h6>
                            <form th:object="${profilePost}" method="post" th:action="@{/fit4life/profile}">
                                <div class="form-group col-md-6">
                                    <input th:field="*{weight}" class="form-control" placeholder="weight"/>
                                    <input th:field="*{armInches}" class="form-control" placeholder="Bicep inches"/>
                                    <input th:field="*{waistInches}" class="form-control" placeholder="waist inches"/>
                                    <input th:field="*{chestInches}" class="form-control" placeholder="chest inches"/>
                                    <input th:field="*{thighInches}" class="form-control" placeholder="thigh inches"/>
                                    <input th:field="*{goal}" class="form-control" placeholder="goals"/>

                                </div>

                            </form>
                            <button type="button" class="w3-button w3-theme"><i class="fa fa-pencil"></i> &nbsp;Post</button>
                        </div>
                    </div>
                </div>
            </div>
<!--            to-->




            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">1 min</span>
                <h4>Progress Test</h4><br>
                <hr class="w3-clear">

                <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i> &nbsp;Like</button>
                <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i> &nbsp;Comment</button>
            </div>

            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <img src="./W3.CSS Template_files/avatar5.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                <span class="w3-right w3-opacity">16 min</span>
                <h4>Jane Doe</h4><br>
                <hr class="w3-clear">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i> &nbsp;Like</button>
                <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i> &nbsp;Comment</button>
            </div>

            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">32 min</span>
                <h4>Angie Jane</h4><br>
                <hr class="w3-clear">
                <p>Have you seen this?</p>
                <img src="./W3.CSS Template_files/nature.jpg" style="width:100%" class="w3-margin-bottom">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i> &nbsp;Like</button>
                <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i> &nbsp;Comment</button>
            </div>

            <!-- End Middle Column -->
        </div>


        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>
<br>

</body>
</html>